.box1{
    background-color: #e84393;
    height: 120px;
}

.box2{
    background-color: #fd79a8; 
    height: 60px;
}

.git{
    font-size: 50px !important;
    color: white;
}

.linkedin{
    font-size: 60px !important;
    color: white; 

}

.textos{
color: white;
}


